---
title: CoderDojo Stockholm
date: "git Last Modified"
---

<!DOCTYPE html>
<html lang="sv">
<head>
    {% if noindex %}
        <meta name="robots" content="noindex">
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/_includes/bundle.css">
    <title>{{ title }}</title>
    <script src="https://cdn.counter.dev/script.js" data-id="9ecf2c2f-2f89-49ba-8c49-b1e45d093b65" data-utcoffset="2"></script>
    <script>
        (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
        .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
        n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
        (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
        ml('account', '389839');
    </script>
</head>
<body>
    {{ content | safe }}
</body>
</html>