---
layout: baselayout.njk
permalink: "dojo/{{ page.date | betterDate }}/index.html"
title: "Dojo {{page.date | betterDate }} | CoderDojo Stockholm"
---

<h1>CoderDojo Stockholm {{ page.date | betterDate }}<h2>

{{content | safe}}