---
layout: baselayout.njk
permalink: "dojo/{{ page.fileSlug }}/index.html"
date: "git Last Modified"
---

<a href="/">⬅️ Till startsidan</a>

<h1>CoderDojo Stockholm {{ page.fileSlug }}</h1>

{{content | safe}}

{% if ticketUrl %}

<div class="tt-widget">
<div class="tt-widget-fallback">
<p>
<a href="{{ ticketUrl }}" target="_blank">
Tryck här för att beställa en biljett
</a>
<br />
<small>
<a href="https://www.tickettailor.com?rf=wdg_141715" class="tt-widget-powered">
Sälj biljetter online med TicketTailor
</a>
</small>
</p>
</div>
<script src="https://cdn.tickettailor.com/js/widgets/min/widget.js" data-url="{{ ticketUrl }}" data-type="inline" data-inline-minimal="true" data-inline-show-logo="false" data-inline-bg-fill="false" data-inline-inherit-ref-from-url-param="" data-inline-ref="">
</script>
</div>

<h2>Hur fungerar en Dojo?</h2>
<p>En Dojo är alltid gratis och det finns inga krav på att anmäla sig till flera tillfällen eller liknande. Såhär går det till från anmälan tills vi är klara:</p>
<ol>
<li>Anmäl er till den Dojo du vill gå på.</li>
<li>Om ni har en dator eller surfplatta så får ni gärna ta med er den. Vi har några att låna om ni inte har, men vi har inte tillräckligt för alla.</li>
<li>Dyk upp strax innan 10:00 så att ni inte missar när vi säger hej.</li>
<li>Prata med en mentor och kom tillsammans fram till vad för roligt ni vill prova på idag.</li>
<li>Vi hänger tillsammans i ca 2 timmar och skapar och löser problem både själva och tillsammans.</li>
<li>Strax innan tolv hjälps vi åt att packa ihop, tackar för idag och skiljs åt.</li>
</ol>

<h2>Vanliga frågor och svar</h2>

<h3>Hur gammal måste man vara för att vara med på en Dojo?</h3>
<p>Vi tycker att CoderDojo Stockholm passar bäst för de som är 7-17. Men det är inga hårda regler, så om ett yngre eller äldre syskon vill hänge med också så är det helt okej.</p>

<h3>Måste en förälder vara med?</h3>
<p>Under 13 så <strong>måste</strong> en förälder vara närvarande under hela Dojon. Vid 12 eller äldre så är det helt upp till er själva att bestämma vad som ni tror blir bäst. Vi på CoderDojo tar dock inget extra ansvar förutom att vi alla är snälla människor.</p>

<h3>Hur kan jag stödja CoderDojo Stockholm?</h3>
<p>Det finns många olika sätt att stjödja oss på! Vi har samlat några av de bästa sätten att hjälpa oss på CoderDojo på en separat sida. Allt du gör för oss uppskattas och det finns många olika sätt att hjälpa CoderDojo Stockholm.</p>

<p><a href="/support-dojo">Olika sätt att hjälpa CoderDojo Stockholm</a></p>

{% else %}

<h2>Lokal sökes!</h2>

<p>Vi söker fortfarande efter en passande lokal för Dojon som sker {{ page.fileSlug }}. Om du tror att du kanske har en lokal tillgänglig och är intresserad så finns mer information på <a href="/hosting-a-dojo">denna</a> sida.</p>
<p>Du får också gärna tipsa andra om att CoderDojo Stockholm letar lokal. Det hade vari väldigt uppskattat ❤️</p>
<p>Men sammanfattningsvis så behövs:</p>

<ul>
<li>🏠 Plats för barn med datorer + lite mentorer</li>
<li>📡 Ett WiFi som klara ca 100 enheter (vi har lyckats överbelasta företags WiFi tidigare 😝)</li>
<li>👩‍💻👨‍💻 Två kontakter på företaget som kan öppna lokalen.</li>
</ul>

<p>Känner du redan nu att du är intresserad så vår du gärna skriva upp dig i formuläret nedan så hör vi av oss för att förhoppningsvis boka en kommande dojo!</p>

<div class="ml-embedded" data-form="J76f0v"></div>

{% endif %}