---
layout: baselayout.njk
permalink: "dojo/{{ page.date | betterDate }}/index.html"
title: "Dojo {{page.date | betterDate }} | CoderDojo Stockholm"
---

<a href="/">⬅️ Till startsidan</a>

{{content | safe}}